* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria', 'Courier New', 'Times New Roman', 'Georgia';
}

body {
    background-color: #ffebcd;
    color: #5a3d2b;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

header {
    background-color: #ffb6c1;
    color: white;
    padding: 25px 0;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 5px solid #ff69b4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    background: #ff69b4;
    border-radius: 20px;
    transition: all 0.3s;
}

nav ul li a:hover {
    background: #ff1493;
    transform: scale(1.1);
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
    padding: 25px;
    background: #fff0f5;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 2px dashed #ff69b4;
}

h2 {
    color: #ff1493;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    border: 5px solid #ffb6c1;
}

footer {
    background-color: #ffb6c1;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.2rem;
    border-top: 5px solid #ff69b4;
}

.contact{
    background-color: #fbf3e8;
    color: #5a3d2b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 2px dashed #ff69b4;
}
.contact::before{
    content: "\260E";
    font-size: 2rem;
    display: block;
    margin: 10px auto;
}
@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
.fade{
    animation: fadeIn 2s ease-in-out forwards;
}
#projects{
    background-color: #fbf3e8;
    color: #5a3d2b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 2px dashed #ff69b4;
}
.img{
    width: 50%;
    height: auto;
}
.contact .btn-primary{
    background-color: #ff69b4;
    border-color: #ff69b9;
}
.contact .btn-primary:hover{
    background-color: #ff1493;
    border-color: #ff1499;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    section {
        padding: 15px;
    }
    img {
        max-width: 90%;
    }
}